<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>expense-tracker</title>
  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid ">
      <a class="navbar-brand" style="margin-left:50vw;" href="/">家庭記事本</a>
      <a href="">
        <button class="btn btn-outline-success" type="submit">登入登出鍵</button>
      </a>
      
    </div>
  </nav>
<!--partial template -->
{{{body}}}

  <!-- include javascript files here -->
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="https://kit.fontawesome.com/3e50ed94d1.js" crossorigin="anonymous"></script>
</body>

</html>